---
//js
import MenuButton from "./Menu-button.astro";
---

<nav class="bg-purple-900 w-full  text-white p-10  flex flex-col gap-10 min-h-full justify-around">
  <MenuButton />
  <MenuButton />
  <MenuButton />
  <MenuButton />
  <footer class='gap-5 flex bg-red-400 justify-center'>
    <a href="#about-me" target="_blank" rel="noopener noreferrer">linkedin</a>
    <a href="#about-me" target="_blank" rel="noopener noreferrer">github</a>
    <a  href="#about-me" target="_blank" rel="noopener noreferrer">skype</a>
  </footer>
</nav>