---
// Usage: <MenuButton greeting="Howdy" name="Partner" />
const { href, text } = Astro.props;
---

<a class=" overflow-hidden  ps-2 ms-4  h-10  whitespace-nowrap flex flex-nowrap gap-3 items-center capitalize " href=`${href}`   class="flex min-w-full h-5 bg-slate-600">
  <slot name="before" />
  <span ><slot /></span>
  <slot name="after" />
</a>