@import './variables';

.marioAstro {
	// NAV
	.mainNav {
		position: relative;
		z-index: 90;
		.navbar-line {
			height: 2px;
			display: flex;
		}
		nav {
			height: 80px;
			overflow: hidden;
			display: flex;
			justify-content: flex-start;
			right: 0px;
			width: 100vw;
			.navbar-toggler {
				min-height: 45px;
				display: flex;
			}
			a {
				span {
					opacity: 0;
				}
			}
			img {
				height: 35px;
				filter: invert(80%) sepia(14%) saturate(7160%) hue-rotate(123deg) brightness(88%) contrast(97%);
			}
		}
		&.active {
			nav {
				min-height: 100vh;
				a {
					span {
						opacity: 1;
						-webkit-transition: opacity 2s ease-out;
						-moz-transition: opacity 2s ease-in-out;
					}
				}
			}
		}
	} // mainNav

	//DESKTOP
	@media (min-width: 768px) {
		.mainNav {
			position: fixed;
			z-index: 90;
			&.active {
				nav {
					width: 180px;
				}
			}
			nav {
				transition: 0.5s all;
				width: 80px;
				height: 100vh;
			}
		}
	}
} //mario
