@import './variables';
@import './menu';

.marioAstro {
	// UTILITIS
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
	}
	//COLORS
	.purpleDark {
		background-color: #2f1948;
	}
	.purpleLight {
		background-color: #492e68;
	}
	body,
	html {
		height: 100%;
		scroll-behavior: smooth;
		position: relative;
	}

	&:has(main.bg-cyan) {
		background-color: var(--mainColor);
	}
} //mario

//DESKTOP
// @media (min-width: 768px) {

// }
