@import './variables';
@import './menu';
@import './aboutme';
@import './skills';
@import './getintouch';
@import './animations';
.marioAstro {
	body,
	html {
		height: 100%;
		scroll-behavior: smooth;
		position: relative;
	}
	blockquote,
	dl,
	dd,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	hr,
	figure,
	p,
	pre {
		margin: revert;
	}
	&:has(main.bg-cyan) {
		background-color: var(--mainColor);
	}

	//DESKTOP
	// @media (min-width: 768px) {

	// }
} //mario
