---


interface Props {
	content: string;
  technologies: string,
    img: any;
}
const {  content, img , technologies} = Astro.props;

---

<section id='aboutme' class="animate  min-h-screen p-4 flex flex-col md:flex-row ">
  <div class="about_img  noshow" data-move="left-to-right">
  <img
  srcset={img.srcSet}
  sizes="(max-width: 320px) 300w,
  (max-width: 480px) 768w,
  1366w"
  alt={img.altText || 'mariolafuente webdesigner'}
  />
</div>
<div class="about_text noshow " data-move="left-to-right">
  <div  set:html={content} />
  <div class="tagcloud" data-words={technologies} />
</div>
</section>

 <script  >
  let width = screen.width;
  console.log(width)
  if(width> 770){
    const container = document.querySelector('.tagcloud');
    let text = container?.dataset.words.split(',');

const fallback = [
    '3D', 'TagCloud', 'JavaScript',
    'CSS3', 'Animation', 'Interactive',
    'Reacjs', 'Gatsby', 'AtroJs',
    'Git', 'Adobe',
];
 const options = {radius:100};
 const wordsToUse = text.length > 0 ? text : fallback;
 TagCloud(container, wordsToUse , options);
  }

</script> 
<script type="text/javascript" src="/js/TagCloud.min.js"></script> 