---
// interface Props {
// 	title: string;
// 	body: string;
//   image: ImageMetadata;
// }
// const { title, body , image} = Astro.props;
---

<section id='aboutme' class=" h-screen		p-4 ">
  about me screenxxx
</section>

<style>
	
</style>
