---


interface Props {
	content: string;
  technologies: string,
    img: any;
}
const {  content, img , technologies} = Astro.props;

---

<section id='work' class="animate  min-h-screen p-4 flex flex-col md:flex-row ">
<div>work</div>
</section>
